
.form {
    background-color: white;
}

.controlForm {
    padding-bottom: 20px;
}

.infoHolder {
    max-width: 80%;
    margin: auto;
}

.topCol {
    /* margin-left: 30px; */
    padding-top: 30px;
}

.autoComplete {
    margin: auto;
    margin-bottom: 20px;
    background-color: white
}