.check {
    display: inline-block
}

.header {
    padding-top: 16px;
}

.holder {
    padding-top: 30px;
}

.labelConfirm {
    padding-top: 6.5px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.confirmCol {
    padding-top: 40px;
}

.sliderWrapper {
    padding-top: 30px;
    padding-bottom: 50px;
}

.loadLenght {
    padding-top: 20px;
    padding-bottom: 40px;
}

.chooseLvl {
    margin-bottom: 60px;
}

.slider {
    /* padding-left: 10px;
    padding-right: 10px; */
    margin-left: 20px;
    margin-bottom: 30px;
    max-width: 80%;
}

.textField {
    max-width: 80%;
}

.backButton {
    padding-right: 10px;
    margin-right: 10px;
}