.checker {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
}

.checker-2 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    text-align: left;
}

.descriptionLabel {
    margin-top: 16px;
    margin-bottom: 16px;
}